.cover {
    background: url(../img/cover.black.jpg);
    background-size: cover;
    padding-left: 15px;
}

.cover-2 {
    background: url(../img/brushes.jpg);
    background-size: cover;
}

.cover-2 > p {
    border: solid 1px;
    border-radius: 10px;
    margin-bottom: 0px;
}


html {
    margin: 0 auto;
    max-width: 960px;
}

.navbar {
    width: 100%;
}

.navbutton {
    position: absolute;
    top: 8px;
    right: 0;
}

.m0-auto {
    display: block;
    margin: 0 auto;
}
